* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}
form input {
  padding: 0.5rem;
  padding-left: 44px;
  font-size: 2rem;
  border: none;
  background: white;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.Form-Input input {
  background: #ffffff;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.Form-Input .Input-Add {
  width: 576px;
  height: 68px;
}
.Input-check {
  color: #00d1ff;
  width: 24px;
  height: 24px;
}
.Form-Input input:focus-visible {
  outline: none !important;
}
.Form-Input {
  max-width: 576px;
  padding-top: 70px;
  margin: 0 auto;
}
.Form-Input .Add-Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.4px;
  height: 29.4px;
  position: absolute;
  top: 20px;
  right: 10px;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #00a3ff;
}
.Form-Input .Add-Btn:hover {
  background: #ffffff;
  color: #00a3ff;
}
.Form-Input svg {
  font-size: 20px;
}
.todo-list {
  min-width: 30%;
  max-width: 576px;
  margin: 0 auto;
  list-style: none;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  border: 1px;
  color: #000;
}
.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e0e0;
  padding: 22px;
  cursor: pointer;
}
.todo-list li .trash-icon {
  display: none;
  color: #ff002f;
  transition: 0.3s all;
}
.todo-list li:hover .trash-icon {
  display: block;
  transition: 0.3s all;
}
.todo-list li span {
  display: flex;
  align-items: center;
}
.todo-list li span svg {
  margin-right: 10px;
}
.todo-list li svg {
  cursor: pointer;
}
.footer {
  width: 576px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  padding: 12px;
}
.footer button {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #858585;
}
.footer span {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #858585;
}
.container {
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  /* height: 296px; */
  background-repeat: no-repeat;
  /* background: url(../images/bg.png); */
  background-size: cover;
}

.checkbox:not(last-of-type) {
  display: inline-block;
  margin-right: 40px;
}
.checkbox label {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid #00d1ff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 300ms ease, colour 300ms ease,
    box-shadow 300ms ease;
}
.completed .checkbox label:after {
  content: "";
  position: absolute;
  top: 28%;
  left: 23%;
  width: 53%;
  height: 25%;
  border-left: 2px solid #ffff;
  border-bottom: 2px solid #ffff;
  transform: rotate(-45deg);
  transition: opacity 300ms ease;
}
.checkbox input {
  visibility: hidden;
}
.completed label {
  background: #00d1ff;
}
.completed .checkbox input:checked + label {
  background: #00d1ff;
  border-color: #00d1ff;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4);
}
.completed .checkbox input:checked + label:after {
  opacity: 1;
}
.checkbox {
  position: relative;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.emptyTodo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 38px;
}
.emptyTodo p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #858585;
  padding-top: 20px;
}
/* new */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #070707;
  height: 70px;
}
.ant-menu-horizontal{
  border-bottom: unset!important;
  background: unset!important;
}
.image-logo {
  position: absolute;
  top: -20px;
  z-index: 99;
}

.ant-menu{
  color:#fff!important;
}
.ant-menu ul, .ant-menu ol {
  color: #000;
}
.slick-list {
  height: 80vh;
}
.slick-prev{
  left: 0!important;
}
.slick-next{
  right:0!important;
}
.slick-prev, .slick-next{
  z-index: 99999;
}
.slick-slide{
  position: relative;
}
.slick-slide::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c292959;
 
}
.slider-title{
  position: absolute;
    top: 22%;
    left: 16%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
}
.slider-title .btn.btn-primary{
  background-color: #00a3ff;
  color:#fff;
  padding: 10px 30px;
}
.bg-text-line {
  padding: 10px 20px;
  display: inline;
  background: #000;
  font-size: 38px;
  color:#fff;
}
.ant-menu-item{
  display: flex!important;
  align-items: center;
}
.AboutItem{
  display: flex;
  justify-content: space-between;
  padding: 5em 0;
  column-gap: 40px;
}
.AboutItem img{
  max-width: 100%;
  height: auto;
}
.AboutItem h4{
  color: #000 !important;
}
.AboutItem p{
  font-size: 1.25rem;
  font-weight: 300;
}
.AboutItemSecond .AboutItem{
  display: flex;
  flex-direction: row-reverse;
  column-gap: unset;
}
.AboutCarousel .slider-title{
  display: none;
}
.text-muted{
  color:#fff!important;
}
.text-muted h6{
  color:#fff!important;
}
.navbar .ant-menu-overflow.ant-menu-horizontal > .ant-menu-item a{
  color:#fff;
}

.pagination {
    justify-content: center;
}